input{
  width: 50%;
  margin: 0 auto;
margin-bottom: 3px;
border: solid #1d82b3 1px;
}


form{
  text-align: center;
  margin: 0 auto;
}


p{text-align: center;
font-size: x-large;
color: #1d82b3;}


