<nav class="navbar navbar-expand-lg navbar-light text-light" style="width: 80%; margin: 0 auto; ">
  <img src="assets/images/70298-management-business-icons-consultant-company-social-marketing.png" width="40px" height="40px"><a class="navbar-brand" href="#"><span style="color: white; text-shadow: 2px 2px 2px black;">AS-YMMETRIC</span> </a>
  <button class="navbar-toggler" type="button"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!user" class="nav-item active">
        <a class="nav-link" style="color:white" [routerLink]="['/home']" href="#">Home </a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" style="color:white" [routerLink]="['/']" href="#">Login</a>
      </li>
      <li  *ngIf="!user" style="color:white" class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']" style="color:white" href="#">Signup</a>
      </li>
      <li *ngIf="!user" style="color:white" class="nav-item">
        <a class="nav-link" [routerLink]="['/utenti']" style="color:white" href="#">Utenti</a>
      </li>
      <li *ngIf="!user"  class="nav-item">
        <a [routerLink]="['/clienti']" style="color:white" class="nav-link" href="#">Clienti</a>
      </li>
      <li *ngIf="!user"  class="nav-item">
        <a class="nav-link" style="color:white" [routerLink]="['/fatture']"href="#">Fatture</a>
      </li>


    </ul>

  </div>
  <button *ngIf="!user" type="button" class="btn btn-button  text-light mr-2" style="border-radius: 40px;" (click)='logout()'>
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
  </svg>
</button>
</nav>
