form{
  background: rgb(0,36,3);
  background: linear-gradient(221deg, rgba(0,36,3,1) 0%, rgba(9,9,121,0.7740283613445378) 35%, rgba(0,212,255,1) 100%);

  width: 40vw;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  height: 40vh;
  color: white;
}
input{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
button{
  margin-top: 15px;
  margin: 10px;
}

a{color: white;}
