input{
  width: 50%;
  margin: 0 auto;
margin-bottom: 3px;
border: solid #1d82b3 1px;
}

select{width: 50%;
  margin: 0 auto;
margin-bottom: 3px;
border: solid #1d82b3 1px;}


form{
  text-align: center;
  margin: 0 auto;
}


p{text-align: center;
font-size: x-large;
color: #1d82b3;}

button{
  background: rgb(0,36,3);
  background: linear-gradient(221deg, rgba(0,36,3,1) 0%, rgba(9,9,121,0.7740283613445378) 35%, rgba(0,212,255,1) 100%);
}
