form{
  background: rgb(0,36,3);
  background: linear-gradient(221deg, rgba(0,36,3,1) 0%, rgba(9,9,121,0.7740283613445378) 35%, rgba(0,212,255,1) 100%);

  width: 53vw;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  height: 60vh;
  color: white;
  padding: 20px;
  height: 100%;
  margin-top: 40px;
  margin: 0 auto;
}

select{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

input{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}
button{
  margin-top: 15px;
  margin: 10px;


}

body div{margin: 0 auto;}
