<div class="container">



  <div class="row">
    <div class="col-lg-4" style="border: solid #2d89bd 1px; height: 197px;border-radius: 17px;">
      <img class="rounded-circle" src="../../assets/images/—Pngtree—3d character male cartoon with_6502959.png" alt="Generic placeholder image" width="140" height="140">
      <h2 >Clienti</h2>


    </div>
    <div class="col-lg-4" style="border: solid #2d89bd 1px; height: 197px;border-radius: 17px;">
      <img class="rounded-circle" src="../../assets/images/—Pngtree—coin bill notebook summary graph_3962473.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Fatture</h2>

    </div>
    <div class="col-lg-4" style="border: solid #2d89bd 1px; height: 197px;border-radius: 17px;">
      <img class="rounded-circle" src="../../assets/images/—Pngtree—young guy programmer freelancer working_5369036.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Tutto da casa</h2>


    </div>
  </div>

</div>

